/*
    See the JupyterLab Developer Guide for useful CSS Patterns:

    https://jupyterlab.readthedocs.io/en/stable/developer/css.html
*/

.jp-react-widget {
  margin: 0;
  padding: 0;
  color: black;
  background: white;
  overflow: auto;
}
